@font-face {
  font-family: "Arial Black";
  src: local("../assets/fonts/arial/arial-black.ttf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Arial";
  src: local("../assets/fonts/arial/arial-regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Arial";
  src: local("../assets/fonts/arial/arial-bold.ttf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Arial";
  src: local("../assets/fonts/arial/arial-italic.ttf");
  font-style: italic;
  font-weight: normal;
}
@font-face {
  font-family: "Arial";
  src: local("../assets/fonts/arial/arial-bold-italic.ttf");
  font-style: italic;
  font-weight: bold;
}
@font-face {
  font-family: "Arial Narrow";
  src: local("../assets/fonts/arial/arial-narrow.ttf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Arial Narrow";
  src: local("../assets/fonts/arial/arial-narrow-bold.ttf");
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: "Arial Narrow";
  src: local("../assets/fonts/arial/arial-narrow-italic.ttf");
  font-style: italic;
  font-weight: normal;
}
@font-face {
  font-family: "Arial Narrow";
  src: local("../assets/fonts/arial/arial-narrow-bold-italic.ttf");
  font-style: italic;
  font-weight: bold;
}
@font-face {
  font-family: "Georgia";
  src: local("../assets/fonts/georgia/georgia-regular.ttf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Georgia";
  src: local("../assets/fonts/georgia/georgia-bold.ttf");
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: "Georgia";
  src: local("../assets/fonts/georgia/georgia-italic.ttf");
  font-style: italic;
  font-weight: normal;
}
@font-face {
  font-family: "Georgia";
  src: local("../assets/fonts/georgia/georgia-bold-italic.ttf");
  font-style: italic;
  font-weight: bold;
}